In [1]:
# Import pandas
import pandas as pd

In [2]:
# Load the CSV file
order_items_df = pd.read_csv('order_items.csv')

In [3]:
# Display the first few rows to understand the structure of the data
order_items_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,144361,99481,79325,13606,389633,Shipped,2023-04-02 16:13:54+00:00,2023-04-03 06:59:00+00:00,NaN,NaN,2.5
1,154546,106537,85042,13606,417031,Shipped,2023-02-15 17:38:21+00:00,2023-02-17 17:05:00+00:00,NaN,NaN,2.5
2,107821,74238,59093,13606,290926,Complete,2023-06-18 09:45:55+00:00,2023-06-18 14:18:00+00:00,2023-06-20 13:05:00+00:00,NaN,2.5
3,57180,39391,31553,13606,154194,Cancelled,2022-11-04 17:34:09+00:00,NaN,NaN,NaN,2.5
4,98977,68178,54310,13606,266962,Cancelled,2022-06-16 04:12:25+00:00,NaN,NaN,NaN,2.5

In [4]:
# Drop rows where 'id', 'order_id', 'user_id', 'product_id', or 'inventory_item_id' are missing
rows_to_drop = order_items_df[['id', 'order_id', 'user_id', 'product_id', 'inventory_item_id']].isnull().any(axis=1)
order_items_cleaned = order_items_df.drop(index=rows_to_drop[rows_to_drop].index)

In [7]:
# Replace missing 'status' with "Unknown"
order_items_cleaned['status'] = order_items_cleaned['status'].fillna("Unknown")

In [8]:
# Drop rows where 'created_at' is missing
order_items_cleaned = order_items_cleaned.dropna(subset=['created_at'])

In [9]:
# Check the number of missing values in 'sale_price'
missing_sale_price_count = order_items_cleaned['sale_price'].isnull().sum()

In [10]:
# Replace missing 'sale_price' with the median if there are few missing values, else drop the row
if missing_sale_price_count < 100:  # Threshold can be adjusted
    median_sale_price = order_items_cleaned['sale_price'].median()
    order_items_cleaned['sale_price'] = order_items_cleaned['sale_price'].fillna(median_sale_price)
else:
    order_items_cleaned = order_items_cleaned.dropna(subset=['sale_price'])

In [13]:
# Count the number of rows dropped from 'sale_price'
rows_dropped_from_sale_price = order_items_df.shape[0] - order_items_cleaned.shape[0]

rows_dropped_from_sale_price

0

In [12]:
# Check the final count of missing values for each column
missing_values_count_final = order_items_cleaned.isnull().sum()

missing_values_count_final

id                        0
order_id                  0
user_id                   0
product_id                0
inventory_item_id         0
status                    0
created_at                0
shipped_at            64054
delivered_at         118042
returned_at          163177
sale_price                0
dtype: int64

In [14]:
order_items_cleaned.to_csv('Order_items_cleaned.csv', index=False)